<div class="footer-border">
  <footer class="container">
    <div class="footer-wrap">
      <div
        routerLink="/"
        class="footer-logo">
        <img src="../../../../assets/images/logo.svg" alt="logo">
      </div>
      <div class="footer-column">
        <h4 class="footer-title">{{"FOOTER.QUICK.TITLE"|translate}}</h4>
        <ul>
          <li class="footer-link"><a class="footer-link"
                                     routerLink="/how-it-works">{{"FOOTER.QUICK.LINK_1"|translate}}</a></li>
          <li class="footer-link"><a class="footer-link" routerLink="/about-us">{{"FOOTER.QUICK.LINK_2"|translate}}</a>
          </li>
        </ul>
      </div>
      <div class="footer-column">
        <h4 class="footer-title">{{"FOOTER.GET.TITLE"|translate}}</h4>
        <ul>
<!--          <li class="footer-link"><a class="footer-link">{{"FOOTER.GET.LINK_1"|translate}}</a></li>-->
<!--          <li class="footer-link"><a class="footer-link">{{"FOOTER.GET.LINK_2"|translate}}</a></li>-->
<!--          <li class="footer-link"><a class="footer-link">{{"FOOTER.GET.LINK_3"|translate}}</a></li>-->
          <li class="footer-link"><a class="footer-link">{{"FOOTER.GET.LINK_4"|translate}}</a></li>
          <li class="footer-link"><a class="footer-link">{{"FOOTER.GET.LINK_5"|translate}}</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4 class="footer-title">{{"FOOTER.PARTNERS.TITLE"|translate}}</h4>
        <ul>
<!--          <li class="footer-link"><a class="footer-link">{{"FOOTER.PARTNERS.LINK_1"|translate}}</a></li>-->
<!--          <li class="footer-link"><a class="footer-link">{{"FOOTER.PARTNERS.LINK_2"|translate}}</a></li>-->
          <li class="footer-link"><a class="footer-link">{{"FOOTER.PARTNERS.LINK_3"|translate}}</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4 class="footer-title">{{"FOOTER.SOCIAL_TITLE"|translate}}</h4>
        <ul class="social-wrap">
          <li class="footer-social"><a><img class="social-icon" src="../../../../assets/icons/footer/li.svg"
                                            alt="li"></a></li>
          <li class="footer-social"><a><img class="social-icon" src="../../../../assets/icons/footer/tw.svg"
                                            alt="tw"></a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
