.content-wrap {
  padding: 57px 0;
  .title {
    font-size: 50px;
    @media screen and (max-width: 900px) {
      font-size: 35px;
    }
  }

  .right-content {
    max-width: 450px;
    @media screen and (max-width: 900px) {
      max-width: 100%;
      padding: 50px 0 0;
    }
  }
}
