<div class="content-wrap" data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-center">
  <div class="left-content">
    <h2 class="title">{{"CONTACT_US.ITEM_1_TITLE" | translate}}</h2>
    <div class="contact-row">
      <div class="contact-icon">
        <img class="contact-icon" src="../../../../../assets/icons/contact-us/phone.svg" alt="phone">
      </div>
      <p class="description mail-pos">
<!--        <span>(671) 555-0110</span>-->
        <span>+00 966 126433000</span>
      </p>
    </div>
    <div class="contact-row">
      <div class="contact-icon">
        <img class="contact-icon" src="../../../../../assets/icons/contact-us/mail.svg" alt="mail">
      </div>
      <div class="column">
        <p class="description mail-pos">
<!--          <span>info@genomes.io</span>-->
<!--          <span>partners@genomes.io</span>-->
          <span>Sales@mohtawana.io</span>
        </p>
      </div>
    </div>
    <div class="contact-row">
      <div class="contact-icon">
        <img class="contact-icon" src="../../../../../assets/icons/contact-us/location.svg" alt="location">
      </div>
      <p class="description mail-pos">
<!--        <span class="description">Genomes.io, Edspace, Falkirk Street,London, N1 6HQ</span>-->
        <span class="description">22 Makkah Raod, Kilo 1, Jeddah, Saudi Arabia</span>

      </p>


    </div>
  </div>
  <div class="right-content svg-response">
    <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
  </div>
</div>
