.container {
  width: 90vw;
  position: relative;
  transition: 0.7s;
}



.header-left {
  cursor: pointer;
  outline: none;
}

.header-right {
  width: 55%;
  @media screen and (max-width: 1500px) {
    width: 65%;
  }

  @media screen and (max-width: 1160px) {
    width: auto;
  }
}

.header-nav,
.header-wrap,
.header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__language{
  cursor: pointer;
  position: relative;
  z-index: 1000;
  a{
    color: white;
    background: transparent;
    span{
      padding-right: 5px;
      img{
        width: 18px;
        height: 12px;
      }
    }
  }
}

.menu-burger,
.showMenu {
  display: none;
  cursor: pointer;
}

.header-wrap {
  justify-content: space-between;
  align-items: center;
  padding: 21px 0;

  .main-button {
    border: 1px solid #FFFFFF;
    max-width: 137px;
  }
}


.header-nav__link,
.header-nav__log-in {
  font-size: 16px;
}

.header-nav__link {
  color: #ffffff;
  text-transform: uppercase;
  font-family: Roboto-500-Medium;
}

.header-nav__log-in {
  font-family: Roboto-700-Bold;
  color: #ffffff;
  text-transform: uppercase;
}


@media screen and (max-width: 1160px) {
  .header-wrap {
    width: 90vw;

    .main-button {
      border: none;
      padding: 0;
    }
  }
  .menu-burger {
    display: block;
    max-width: 24px;
  }
  .header-nav {
    width: 90vw;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 0;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    z-index: 10;


    .header-nav__link,
    .header-nav__log-in {
      margin: 15px 0 0;
      padding-bottom: 10px;
    }
  }
  .showMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }


}

@media screen and (max-width: 800px) {
  .header-logo {
    max-width: 120px;
  }
}
