.content-wrap {
  justify-content: center;
  padding-top: 222px;
  @media screen and (max-width: 1600px) {
    padding-top: 150px;
  }
  @media screen and (max-width: 1200px) {
    padding-top: 70px;
  }
  @media screen and (max-width: 900px) {
    padding-top: 40px;
  }

  .bg-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 14px 34px 124px rgba(89, 82, 128, 0.2);
    border-radius: 20px;
    padding: 27px 0;
    @media screen and (max-width: 900px) {
      padding: 15px;
    }
    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
  }

  .left-content {
    padding-right: 100px;
    @media screen and (max-width: 900px) {
      padding: 0 0 20px;
    }
  }

  .right-content {
    max-width: 520px;
    @media screen and (max-width: 800px) {
      max-width: 100%;
    }
  }

  .title,
  .description {
    @media screen and (max-width: 800px) {
      text-align: center;
    }
  }
}
