<div class="content-wrap">
  <h2 class="title">{{"ABOUT_US.ITEM_3_TITLE"|translate}}</h2>
</div>
<div class="content-wrap partners-wrap">
  <div class="partners-wrap">
    <div>
      <img src="../../../../../assets/images/about-us/partner1.svg" alt="partner">
    </div>
    <div>
      <img src="../../../../../assets/images/about-us/partner2.svg" alt="partner">
    </div>
  </div>
  <div class="partners-wrap">
    <div>
      <img src="../../../../../assets/images/about-us/partner3.svg" alt="partner">
    </div>
    <div>
      <img src="../../../../../assets/images/about-us/partner4.svg" alt="partner">
    </div>
  </div>
</div>
