@font-face {
  font-family: Roboto-400-Regular;
  src: url(src/assets/fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Roboto-500-Medium;
  src: url(src/assets/fonts/Roboto-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Roboto-700-Bold;
  src: url(src/assets/fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Montserrat-400-Regular;
  src: url(src/assets/fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Montserrat-500-Medium;
  src: url(src/assets/fonts/Montserrat-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Montserrat-700-Bold;
  src: url(src/assets/fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}

